<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select * from OrderList
    </select>
    <!--返回异常订单的数据库操作-->
    <select id="getAbnormalOrders" resultMap="Order">
        select * from OrderList where orderState="异常"
    </select>
    <select id="getUserOrders" resultMap="Order">
        select * from OrderList where userId=#{userid}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId,hotelId,hotelName,checkInDate,checkOutDate,roomType,roomNum,peopleNum,haveChild,createDate,price,clientName,phoneNumber,orderState,hasCommented,userName)
        values(#{userId},#{hotelId},#{hotelName},#{checkInDate},#{checkOutDate},#{roomType},#{roomNum},#{peopleNum},#{haveChild},#{createDate},#{price},#{clientName},#{phoneNumber},#{orderState},#{hasCommented},#{userName})
    </insert>
    <select id="getOrderById" resultMap="Order">
        select * from OrderList where id=#{orderid}
    </select>
    <!--取消订单的数据库操作-->
    <update id="annulOrder">
        update OrderList set orderState="已撤销" where id=#{orderid}
    </update>
    <!-- 获得客户在某家酒店的订单的数据库操作-->
    <select id="getUserOrdersInCertainHotel" resultMap="Order">
        select * from OrderList where userId=#{userid} and hotelId=#{hotelid}
    </select>
    <!--更新订单状态-->
    <update id="updateOrderState">
        update OrderList set orderState=#{orderstate} where id=#{orderid}
    </update>
    <!--更新订单评价状态-->
    <update id="updateOrderHasCommented">
        update OrderList set hasCommented=#{data} where id=#{orderid}
    </update>


        <resultMap id="Order" type="com.example.hotel.po.Order">
        </resultMap>
    </mapper>