<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.user.CreditHistoryMapper">
    <insert id="insertCreditHistory" parameterType="com.example.hotel.data.user.CreditHistoryMapper" useGeneratedKeys="true" keyProperty="id">
        insert into CreditHistory(user_id,time,value,type,message)
        values (#{userId},#{time},#{value},#{type},#{message})
    </insert>
    <select id="getCreditHistoriesByUserId" resultMap="CreditHistory">
        select * from CreditHistory where user_id=#{userId}
    </select>

    <resultMap id="CreditHistory" type="com.example.hotel.po.CreditHistory">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="time" property="time"></result>
        <result column="type" property="type"></result>
        <result column="message" property="message"></result>
        <result column="value" property="value"></result>
    </resultMap>

</mapper>