<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
            useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,description,hotelStar,hotelName,phoneNum,rate,managerId)
        values (#{address},#{bizRegion},#{description},#{hotelStar},#{name},#{phoneNum},#{rate},#{managerId})
    </insert>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>

    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>
    <update id="updateHotelInfo">
        update Hotel set description =#{describe},hotelName=#{name},address=#{address} where id=#{hotelId}
    </update>

    <update id="updateHotelManager">
        update Hotel set managerId =#{managerId} where id=#{hotelId}
    </update>

    <update id="deLink">
        update Hotel set managerId =null where id=#{hotelId}
    </update>
    <!--删除酒店-->
    <delete id="deleteHotel" >
        delete from Hotel where id=#{hotelId}
    </delete>


    <resultMap id="Hotel" type="com.example.hotel.po.Hotel">
        <id column="id" property="id"></id>
        <result column="address" property="address"></result>
        <result column="bizRegion" property="bizRegion"></result>
        <result column="description" property="description"></result>
        <result column="hotelStar" property="hotelStar"></result>
        <result column="hotelName" property="name"></result>
        <result column="phoneNum" property="phoneNum"></result>
        <result column="rate" property="rate"></result>
        <result column="managerId" property="managerId"></result>

    </resultMap>


</mapper>